
/* --------------------------------------------------------------------------------------------------------------------- */
/* GENERALI */
/* --------------------------------------------------------------------------------------------------------------------- */

body { width: clamp(0px, 100vw, 900px); margin: 0 auto; font-family: "EB Garamond", serif; }
body::-webkit-scrollbar { display: none; }
header { background-color: white; position: sticky; top: -97px; }
nav a { font-size: .75rem; color: #262424; padding: 3px; text-decoration: none; align-items: center; }
div a { font-size: .75rem; color: #262424; padding: 3px; text-decoration: none; align-items: center; }

button { border-radius: 2px; background: none; border: none; text-transform: uppercase; }
button span { text-transform: uppercase; }

p { font-size: .75rem; margin: 0; }
time { font-size: .75rem; }
h3 { margin: 0; font-size: 1rem; font-weight: 400; color: #7f8589 }

hr { margin: 0; border: none; border-top: 1px solid; }

footer { background: #222; color: #ccc; text-align: center; padding: 30px; margin-top: 40px; font-size: 0.9em; }

/* --------------------------------------------------------------------------------------------------------------------- */
/* MENU */
/* --------------------------------------------------------------------------------------------------------------------- */

.menu-header-sezioni {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-header-scomparsa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.menu-slider {
    display: flex;
    background-color: white;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    position: sticky;
    top: 62.2px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.oggetto-slider { display: flex; align-items: center; }
.menu-slider::-webkit-scrollbar { display: none; }

.icona-testo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icona-testo span { transition: 0.5s ease; }
.icona-testo span:hover { color: #7f8589; }

.icona { width: 24px; height: 24px; }
.mini-icona { width: 16px; height: 16px; }

.bottone-rosso {
    background-color: #a83946;
    color: white;
    font-size: .875rem;
    padding: .45rem;
    transition: 0.5s ease;
}

.bottone-rosso:hover { background-color: #282728; }

.sezione-header {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sezione-header.left { align-items: flex-start; }
.sezione-header.center { align-items: center; }
.sezione-header.right { align-items: flex-end; }

.logo-scomparsa {
    display: none;
    margin: -10px;
}

.logo-piccolo {
    display: none;
    margin: -50px 1.5rem -50px 0;
}

.scivolamento .logo-piccolo {
    display: block;
    opacity: 1;
}

.scorrimento-hr { display: none; }

.separatore-header {
    position: sticky;
    top: 63.2px;
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* MEDIA */
/* --------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 900px) {
    .menu-header-scomparsa { display: none; }
    .separatore-header { display: none; }
    .ad-centrale { display: none; }
}

@media (max-width: 730px) {
    .menu-sezioni { display: none; }
}

@media (max-width: 600px) {
    .menu { display: none; }
    .logo-scomparsa { display: flex; }
    .scivolamento .logo-piccolo { display: none; }
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* PUBBLICITA' */
/* --------------------------------------------------------------------------------------------------------------------- */

.ad-centrale {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 230px;
}
