
/* --------------------------------------------------------------------------------------------------------------------- */
/* GENERALI */
/* --------------------------------------------------------------------------------------------------------------------- */

body { margin: 0 22%; font-family: "EB Garamond", serif; }
header { background-color: white; position: sticky; top: -79.5px; }
nav a { font-size: .75rem; color: #262424; padding: 3px; text-decoration: none; align-items: center; }

button { border-radius: 2px; background: none; border: none; text-transform: uppercase; }
button span { text-transform: uppercase; }

hr { margin: 0; border: none; border-top: 1px solid; }
p { font-size: .75rem; margin: 0; }
time { font-size: .75rem; }
h3 { margin: 0; font-size: 1rem; font-weight: 400; color: #7f8589 }

main { margin: 1rem 0; }

footer { background: #222; color: #ccc; text-align: center; padding: 30px; margin-top: 40px; font-size: 0.9em; }

/* --------------------------------------------------------------------------------------------------------------------- */
/* MENU */
/* --------------------------------------------------------------------------------------------------------------------- */

.menu-header-sezioni {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
}

.menu-header-scomparsa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.menu-header-notizie {
    display: flex;
    background-color: white;
    align-items: center;
    column-gap: 0.75rem;
    position: sticky;
    top: 74px;
}

.menu-header-notizie nav {
    display: flex;
    column-gap: 0.75rem;
    padding: 1rem;
    align-items: center;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* ELEMENTI HEADER */
/* --------------------------------------------------------------------------------------------------------------------- */

.icona-testo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
}

.icona-testo span { transition: 0.5s ease; }
.icona-testo span:hover { color: #7f8589; }

.icona { width: 24px; height: 24px; }
.mini_icona { width: 16px; height: 16px; }

.abbonati {
    background-color: #a83946;
    color: white;
    font-size: .875rem;
    padding: .45rem;
    transition: 0.5s ease;
}

.abbonati:hover { background-color: #282728; }

.header-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-section.left { align-items: flex-start; }
.header-section.center { align-items: center; }
.header-section.right { align-items: flex-end; }

/* --------------------------------------------------------------------------------------------------------------------- */
/* SCORRIMENTO DELLA PAGINA */
/* --------------------------------------------------------------------------------------------------------------------- */

.logo-piccolo {
    display: none;
    margin-right: 1.5rem;
}

.scivolamento .logo-piccolo {
    display: block;
    opacity: 1;
}

.separatore {
    position: sticky;
    top: 63.4px;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* ARTICOLI' */
/* --------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------- */
/* PUBBLICITA' */
/* --------------------------------------------------------------------------------------------------------------------- */

.ad_centrale {
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
}
